.main{
    width: 100%;
    &__sec1{
        width: 1200px;
        height: 1050px;
        background-image: url('/images/background_2.png');
        &__min{
            position: absolute;
            margin: 60px 0px 0px 420px;
            width: 330.93px;
            height: 94.09px;
            &__1{
                font-family: 'Montserrat';
                font-weight: 800;
                font-size: 30px;
                line-height: 37px;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                margin-top: 10px;
            }
            &__2{
                font-family: 'Seymour One';
                font-weight: 400;
                font-size: 36px;
                line-height: 45px;
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                margin-top: 10px;
            }
        }
        &__max{
            position: absolute;
            display: flex;
            justify-content: space-between;
            margin-top: 270px;
            margin-left: 10px;
            width: 1174.85px;
            height: 718.68px;
            &__box{
                width: 370.16px;
                height: 718.68px;
                &__min{
                    margin-top: 183px;
                    width: 370.16px;
                    height: 535.51px;
                    background-color: #AEC6A5;
                    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
                    border-radius: 24px;
                    &__img{
                        position: relative;
                        bottom: 32%;
                        left: 9%;
                        width: 301.76px;
                        height: 300.29px;
                    }
                    &__h3{
                        font-family: 'Montserrat';
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 37px;
                        text-align: center;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                        position: absolute;
                        top: 350px;
                        left: 95.07px;
                    }
                    &__p{
                        position: absolute;
                        width: 246.44px;
                        height: 147.14px;
                        left: 60.43px;
                        font-family: 'Montserrat';                        font-weight: 400;
                        font-size: 16px;
                        line-height: 176%;
                        text-align: center;
                        letter-spacing: 0.04em;
                    }
                    &__h4{
                        position: absolute;
                        top: 350px;
                        left: 490px;
                        font-family: 'Montserrat';
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 37px;
                        text-align: center; 
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                    }
                    &__span{
                        font-family: 'Montserrat';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 176%;
                        text-align: center;
                        letter-spacing: 0.04em;
                        width: 242.41px;
                        height: 138.13px;
                        margin-left: 70px;
                    }
                    &__h5{
                        position: absolute;
                        width: 218.27px;
                        height: 37.04px;
                        top: 350px;
                        left: 885px;
                        font-family: 'Montserrat';
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 37px;
                        text-align: center;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                    }
                    &__p3{
                        width: 242.41px;
                        height: 142.14px;
                        font-family: 'Montserrat';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 176%;
                        text-align: center;
                        letter-spacing: 0.04em;
                        margin-left: 70px;
                    }
                }
            }
        }
    }
    &__sec2{
        width: 1200px;
        height: 1228px;
        background-color: #84A178;
        &__tit{
            position: absolute;
            width: 481px;
            height: 94px;
            margin: 60px 0px 0px 360px;
            &__p{
                font-family: 'Montserrat';
                font-weight: 800;
                font-size: 30px;
                line-height: 37px;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #FCFCFC;
            }
            &__h3{
                font-family: 'Seymour One';
                font-weight: 400;
                font-size: 35px;
                line-height: 45px;
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                margin-top: 10px;
                width: 481px;
                height: 45px;
                color: #FCFCFC;
            }
        }
        &__boxs{
            display: flex;
            position: absolute;
            margin: 210px 0px 0px 16px;
            width: 1065px;
            height: 530px;
            &__img{
                width: 500px;
                height: 529px;
            }
            &__tit{
                margin: 120px 0px 0px 100px;
                width: 463px;
                height: 305px;
                &__p{
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 176%;
                    letter-spacing: 0.04em;
                    width: 463px;
                    height: 211px;
                    color: #FCFCFC;
                }
                &__a{
                    font-family: 'Montserrat';
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    padding: 12px 35px;
                    background: #F8D24E;
                    border-radius: 10px;
                    width: 90px;
                    height: 15px;
                }
            }
        }
        &__lists{
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 1168px;
            height: 223px;
            margin: 900px 0px 0px 14px;
            &__box{
                text-align: center;
                width: 368px;
                height: 222px;
                &__num{
                    font-family: 'Montserrat';
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 71px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    margin-top: 20px;
                    color: #FCFCFC;
                }
                &__p{
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 176%;
                    text-align: center;
                    letter-spacing: 0.02em;
                    margin-top: 10px;
                    color: #FCFCFC;
                }
            }
        }   
    }
    &__sec3{
        width: 1200px;
        height: 1000px;
        background-image: url(/images/background_2.png);
        &__img1{
            margin-left: 90px;
        }
        &__img2{
            margin: 125px 0px 0px 550px;
        }
        &__title{
            width: 968px;   
            height: 138px;
            margin: 0 auto;
            margin-top: 50px;
            background-color: #84A178;
            border-radius: 24px;
            &__p{
                position: absolute;
                width: 750px;
                height: 52px;
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 16px;
                line-height: 186%;
                text-align: center;
                letter-spacing: 0.04em;
                margin: 40px 0px 0px 100px;
                color: #FCFCFC;
            }
        }
    }
    &__sec4{
        width: 1200px;
        height: 500px;
        background-color: #84A178;
        &__btns{
            position: absolute;
            display: flex;
            width: 408px;
            height: 42px;
            margin: 150px 0px 0px 390px;
            &__1{
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 14px;
                line-height: 18px; 
                padding: 12px 30px;
                color: #131313;
                background-color: #F8D24E;
                border-radius: 10px;
            }
            &__2{
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                margin-left: 50px;
                padding: 12px 60px;
                border: 2px solid #F8D24E;
                border-radius: 10px;
                color: #131313;
            }
        }
        &__title{
            position: absolute;
            width: 504px;
            height: 122px;
            margin: 300px 0px 0px 10px;
            &__h3{
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 30px;
                line-height: 37px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                width: 540px;
                color: #FCFCFC;
            }
            &__h4{
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 58px;
                line-height: 71px;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                width: 497px;
                color: #FCFCFC;
            }
        }
        &__a{
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 162px;
            height: 34px;
            margin: 330px 0px 0px 1000px;
        }
        &__a2{
            position: absolute;
            display: flex;
            width: 338px;
            height: 30px;
            margin: 400px 0px 0px 820px;
            &__p{
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 16px;
                line-height: 186%;
                letter-spacing: 0.02em;
                color: #131313;
            }
            &__a{
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 16px;
                line-height: 186%;
                letter-spacing: 0.02em;
                margin-left: 10px;
                color: #FCFCFC;
            }
        }
        &__span{
            position: absolute;
            margin: 475gipx 0px 0px 470px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 12px;
            line-height: 186%;
            letter-spacing: 0.02em;
            color: #7A7A7A;
        }
    }
}






@media only screen and (max-width:320px) {
    .main{
        width: 100%;
        &__sec1{
            width: 100%;
            height: 2271px;
            background-image: none;
            &__min{
                width: 100%;
                margin-left: 0;
                &__1{
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 22px;
                }
                &__2{
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 38px;
                }
            }
            &__max{
                background-image: url(/images/background_3.png);
                display: block;
                margin: 0 auto;
                margin-top: 170px;
                width: 100%;
                height: 2100px;
                &__box{
                    margin: 0 auto;
                    margin-top: 0px;
                    width: 280px;
                    height:528px;
                    &__min{
                        width: 280px;
                        height: 420px;
                        &__img{
                            width: 200.33px;
                            height: 199.68px;
                            margin-left: 18px;
                        }
                        &__h3{
                            position: absolute;
                            width: 100%;
                            top: 300px;
                            left: 0;
                        }
                        &__p{
                            position: absolute;
                            width: 200px;
                            top: 415px;
                            left: 10;
                        }
                        &__h4{
                            position: absolute;
                            width: 100%;
                            top: 990px;
                            left: 0;
                        }
                        &__span{
                            width: 200px;
                            height: 124px;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 176%;
                            text-align: center;
                            letter-spacing: 0.04em;
                            margin-left: 45px;
                        }
                        &__h5{
                            position: absolute;
                            width: 100%;
                            top: 1700px;
                            left: 0;
                        }
                        &__p3{
                            margin-left: 15px;
                        }
                        
                    }
                    
                }
            }
        }
        &__sec2{
            width: 100%;
            &__tit{
                position: absolute;
                margin: 60px 0px 0px 50px;
                width: 210px;
                height: 151.04px;
                &__p{
                    width: 210px;
                    height: 22.01px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 22px;
                }
                &__h3{
                    width: 200px;
                    height: 117.03px;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 38px;
                    text-align: center;
                    letter-spacing: 0.04em;
                }
            }
            &__boxs{
                margin: 210px 0px 0px 0px;
                width: 100%;
                height: 1564.38px;
                background-color: #84A178;
                &__img{
                    margin: 50px 0px 0px 20px;
                    width: 278.19px;
                    height: 278.25px;
                }
                &__tit{
                    position: absolute;
                    margin: 350px 0px 0px 0px;
                    width: 100%;
                    height: 604px;
                    &__p{
                        width: 220px;
                        height: 126.03px;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 176%;
                        text-align: center;
                        letter-spacing: 0.04em;
                        margin-left: 50px;
                    }
                    &__a{
                        position: absolute;
                        margin: 230px 0px 0px 80px;
                    }
                }
            }
            &__lists{
                display: block;
                width: 300px;
                height: 720px;
                margin: 1020px 0px 0px 10px;
                &__box{
                    width: 230px;
                    margin: 10px 0px 0px 30px;
                    &__p{
                        width: 230px;
                        height: 40.01px;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 170%;
                    }
                }
            }
        }
        &__sec3{
            width: 320px;
            height: 1270.26px;
            &__img1{
                position: absolute;
                width: 279px;
                margin-left: 20px;
                margin-top: 480px;
            }
            &__img2{
                position: absolute;
                margin-top: 700px;
                margin-left: 115px;
            }
            &__title{
                position: absolute;
                width: 280px;
                height: 256.06px;
                margin-left: 20px;
                margin-top: 850px;
                &__p{
                    width: 202px;
                    height: 188.05px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 255%;
                    text-align: center;
                    margin-left: 40px;
                }
            }
        }
        &__sec4{
            width: 100%;
            height: 600px;
            &__btns{
                position: absolute;
                display: block;
                width: 320px;
                height: 100px;
                margin-left: 0;
                &__1{
                    position: absolute;
                    padding: 14px 48px;
                    margin-left: 65px;
                }
                &__2{
                    position: absolute;
                    margin-left: 66px;
                    margin-top: 55px;
                    
                }
            }
            &__title{
                position: absolute;
                width: 234px;
                height: 134.03px;
                &__h3{
                    width: 232px;
                    height: 42.01px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: uppercase;
                }
                &__h4{
                    width: 200px;
                    height: 76.02px;
                    font-weight: 700;
                    font-size: 34px;
                    line-height: 41px;
                    letter-spacing: 0.04em;
                    margin-top: 15px;
                }
            }
            &__a{
                position: absolute;
                width: 152px;
                height: 32.01px;
                margin-top: 480px;
                margin-left: 160px;
            }
            &__a2{
                position: absolute;
                width: 244px;
                height: 22.01px;
                margin-top: 540px;
                margin-left: 65px;
                &__p{
                    font-weight: 700;
                    font-size: 11px;
                    line-height: 186%;
                }
                &__a{
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 186%;
                }
            }
        }
    }
}